<section class="border-white border-b gradient-grid">
  <div class="mx-auto border-white border-x max-w-7xl">
    <div class="mx-auto max-w-7xl p-8">
      <p class="text-white font-display uppercase lg:text-6xl text-xl">
        Lilrobo is a design and development studio
        that specializes in creating cohesive augmented-reality experiences to captivate
        audiences and leave a lasting impression.
      </p>
    </div>
    <div class="mx-auto max-w-7xl p-8">
      <p class="text-white font-display uppercase lg:text-3xl">
        We specialize in developing 3D augmented-reality applications, interactivce websites, print design, and more.
        By leveraging the latest technology trends, we create tailored products
        that effectively share artists' sounds, connect with audiences, and
        create memorable experiences. Let me help you achieve your goals with a
        remarkable creative presence.
      </p>
    </div>
  </div>
</section>
